.roomStyle {
    background: #302F4A;
    color: #9DA1C2;
}

.titleBox {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 2rem 0rem;
}

.logoRooms {
    -webkit-filter: invert(1);
   filter: invert(1);
}

.roomLink {
    cursor: pointer;
}
.roomLink:hover {
    color: #E2E2E2;
}

@media (min-width: 1px) {
    .roomStyle {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .roomStyle {
        width: 30%;
    }
}