.roomStyle {
    background: #c7c7c7;
}

.titleBox {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 2rem 0rem;
}

.welcomeStyle {
    margin-left: 1rem;
    font-weight: bold;
    overflow-x: hidden;
}

@media (min-width: 1px) {
    .roomStyle {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .roomStyle {
        width: 25%;
    }
}