.roomStyle {
    background: #c7c7c7;
}

.titleBox {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 2rem 0rem;
}

@media (min-width: 1px) {
    .roomStyle {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .roomStyle {
        width: 25%;
    }
}