@media (min-width: 1px) {
    .logoStyle {
        width: 12rem;
    }
    .MuiFormLabel-root.Mui-focused {
        color: rgb(20, 20, 20) !important;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: rgb(20, 20, 20) !important;
    }
}